body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Rubik', 'Raleway', sans-serif;
}

main{
  flex-grow: 1;
}

textarea{
  height: 6.25rem;
  resize: none;
}

th, td {
  text-align: center;
  word-wrap: break-word;
  white-space: normal; 
  max-width: 6.25rem;
}

@media all and (min-width:992px){
  form{
    width: 75%;
  }
}

@media all and (min-width:1200px){
  form{
    width: 50%;
  }
}